/**
* Basic search filters
**/

#filters-container {
  text-align: center;
  box-sizing: border-box;
  background: #f9f9f9;
  margin-top: 20px;
}

#filters-inner {
  width: 992px;
  position: relative;
  box-shadow: 0 0 4px #c7c7c7;
  white-space: nowrap;
  padding: 6px 16px;
}

.filter-group {
  width: 300px;
}

.filter-label {
  font-weight: 600;
  font-size: 0.8em;
  color: #666666;
  display: inline-block;
  margin-right: 14px;
}

/**
* Result count
**/

.results-count {
  text-align: left;
  font-size: 0.8em;
  display: inline-block;
  margin-right: 30px;
}

.results-count span {
  margin: 0 2px;
}

#advanced-filters-icon {
  width: 20px;
  padding: 2px;
  transform: rotate(90deg);
  margin-left: 20px;
  cursor: pointer;
}

#advanced-filters-icon.open,
#advanced-filters-icon.has-selection {
  filter: invert(1) sepia(1) saturate(7) brightness(71%) hue-rotate(104deg);
}

#advanced-filters-icon.has-selection {
  opacity: 0.4;
}

#advanced-filters-icon.has-selection.open {
  opacity: 1;
}

#advanced-filters {
  box-shadow: 0 2px 3px #ccc;
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}

#advanced-filters.open {
  height: 215px;
}

/**
* Button to close the compare view
**/

.close-compare-wrapper {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  #filters-inner {
    padding: 8px;
    margin: 0;
    width: 100%;
  }

  #filters-inner .filter-group {
    display: none;
  }
}

/**
 * Advanced Search
 **/

.advanced-filter-column {
  background: #ececec;
  padding: 10px 40px;
  font-size: 14px;
}

.advanced-filter-column .row {
  margin: 10px 0;
}

.advanced-filter-column .row .label {
  width: 75px;
  text-align: right;
  margin-right: 15px;
  font-size: 12px;
  white-space: nowrap;
}

.advanced-filter-column input,
.advanced-filter-column button {
  padding: 4px 10px;
  flex: 1;
  border: 1px solid #aba9a9;
}

.advanced-filter-column-label {
  text-align: left;
  font-size: 12px;
  color: #aaa;
}

.advanced-filter-footer button,
.advanced-filter-footer .advanced-filter-clear {
  font-size: 12px;
  cursor: pointer;
}

.advanced-filter-footer .advanced-filter-clear.disabled {
  opacity: 0.4;
  cursor: initial;
}

.advanced-filter-column button {
  background: #fff;
  padding: 3px 7px;
  border: 1px solid #aba9a9;
  border-radius: 4px;
  margin-left: 10px;
  flex: initial;
}

.advanced-filter-column button.disabled {
  opacity: 0.4;
  cursor: initial;
}

.advanced-filter-footer button.active {
  cursor: pointer;
}

/**
 * Applied filters count
 **/

#advanced-filters-selection-count {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 9px;
  line-height: 8px;
  border-radius: 100%;
  background: #71ccce;
  color: #fff;
  width: 14px;
  height: 14px;
}

/**
 * Filters slider
 **/

#advanced-filters .rc-slider-track {
  background-color: #71ccce;
}

#advanced-filters .rc-slider-handle {
  border: solid 2px #71ccce;
}

#advanced-filters .rc-slider-rail {
  background-color: #d4d1d1;
}