/**
* Basic search filters
**/

.filters-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 2px;
}

.filters {
  width: 1092px;
  position: relative;
  box-shadow: 0 0 4px #c7c7c7;
  white-space: nowrap;
  padding: 6px 16px;
}

.filter-group {
  width: 300px;
}

.filter-label {
  font-weight: 600;
  font-size: 0.8em;
  color: #666666;
  display: inline-block;
  margin-right: 14px;
}

/**
* Result count
**/

.results-count {
  text-align: left;
  font-size: 0.8em;
  display: inline-block;
  margin-right: 30px;
}

.results-count span {
  margin: 0 2px;
  font-weight: 600;
}

#filters-icon {
  height: 20px;
  padding: 2px;
  transform: rotate(90deg);
  margin-left: 20px;
  cursor: pointer;
}

#filters-icon.active {
  filter: invert(1) sepia(1) saturate(7) brightness(71%) hue-rotate(104deg);
}

/**
* Button to close the compare view
**/

.close-compare-wrapper {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .filters {
    padding: 8px;
    margin: 0;
    width: 100%;
  }

  .filters .filter-group {
    display: none;
  }
}
