/**
* Basic search filters
**/

.filters-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  top: 60px;
  left: 0;
  padding: 15px 0 0;
  background: #f9f9f9;
}

.filters {
  width: 1092px;
  position: relative;
  box-shadow: 0 0 4px #c7c7c7;
  margin: 4px 4px 0;
  white-space: nowrap;
  padding: 6px 16px;
}

.filter-group {
  width: 300px;
}

.filter-label {
  font-weight: 600;
  font-size: 0.8em;
  color: #666666;
  display: inline-block;
  margin-right: 14px;
}

@media (max-width: 1180px) {
  .filters-container {
    left: 40px;
    justify-content: flex-start;
  }
}

/**
* Result count
**/

.results-count {
  text-align: left;
  font-size: 0.8em;
  display: inline-block;
  margin-right: 30px;
}

.results-count span {
  margin: 0 2px;
  font-weight: 600;
}

/**
* Button to close the compare view
**/

.close-compare-wrapper {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .filters-container {
    left: 0;
    top: 40px;
    right: 0;
    width: 100vw;
    padding: 0;
  }

  .filters {
    padding: 8px;
    margin: 0;
    width: 100%;
  }

  .filters .filter-group {
    display: none;
  }
}
