/**
* Basic search filters
**/

#filters-container {
  text-align: center;
  box-sizing: border-box;
  background: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 2px;
}

#filters-inner {
  width: 992px;
  position: relative;
  box-shadow: 0 0 4px #c7c7c7;
  white-space: nowrap;
  padding: 6px 16px;
}

.filter-group {
  width: 300px;
}

.filter-label {
  font-weight: 600;
  font-size: 0.8em;
  color: #666666;
  display: inline-block;
  margin-right: 14px;
}

/**
* Result count
**/

.results-count {
  text-align: left;
  font-size: 0.8em;
  display: inline-block;
  margin-right: 30px;
}

.results-count span {
  margin: 0 2px;
  font-weight: 600;
}

#advanced-filters-icon {
  height: 20px;
  padding: 2px;
  transform: rotate(90deg);
  margin-left: 20px;
  cursor: pointer;
}

#advanced-filters-icon.active {
  filter: invert(1) sepia(1) saturate(7) brightness(71%) hue-rotate(104deg);
}

/**
* Button to close the compare view
**/

.close-compare-wrapper {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  #filters-inner {
    padding: 8px;
    margin: 0;
    width: 100%;
  }

  #filters-inner .filter-group {
    display: none;
  }
}

/**
 * Advanced Search
 **/

.advanced-filter-column {
      background: #ececec;
    padding: 10px 40px;
    font-size: 14px;
}

.advanced-filter-column .row {
  margin: 10px 0;
}

.advanced-filter-column .row .label {
      width: 45px;
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}

.advanced-filter-column .row input {
    padding: 4px 10px;
    flex: 1;
    border: 1px solid #aba9a9;
}