/**
* Footer styles
**/

footer {
  padding: 8px 50px;
  background: #666666;
  color: #fff;
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: 46px;
  min-height: 46px;
}

.yale-mark {
  height: 30px;
}

.experiment {
  font-family: 'Yale Roman';
  color: #bababa;
  font-size: 13px;
  font-weight: 200;
}

@media (max-width: 700px) {
  .experiment {
    display: none;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .yale-mark {
    height: 20px;
    margin-left: 0;
  }
}
