/**
* Header styles
**/

header {
  background: #ffffff;
  color: #a5a5a5;
  height: 60px;
  width: 100%;
  z-index: 4;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
}

.header-text {
  margin: 0 40px;
  height: 100%;
}

.brand {
  height: 20px;
  width: 112px;
  display: inline-block;
  padding: 10px;
  box-sizing: content-box;
}

.brand img {
  height: 100%;
}
