* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #6dd1d1;
  -webkit-box-shadow: 0px 0px 5px #6dd1d1;
  box-shadow: 0px 0px 5px #6dd1d1;
}

/**
* Containers
**/

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

#app,
#root,
.app-container {
  height: 100%;
}

.page-container {
  text-align: center;
  background: #f8f8f8;
  flex: 1;
  box-sizing: border-box;
  padding-top: 60px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.flex-1 {
  flex: 1;
}

/**
* Elements
**/

h1 {
  margin-top: 30px;
  font-family: Yale Roman;
  font-size: 2em;
}

h1 + div {
  margin: 25px;
  line-height: 1.4em;
}

input {
  padding: 12px;
  font-size: 15px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/**
* Fonts
**/

@font-face {
  font-family: 'Yale Roman';
  src: url('../fonts/YaleNew-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yale Bold';
  src: url('../fonts/YaleNew-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yale Italic';
  src: url('../fonts/YaleNew-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yale BoldItalic';
  src: url('../fonts/YaleNew-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/**
* Helpers
**/

.clear-both {
  clear: both;
}

@media (max-width: 700px) {
  .page-container {
    padding-top: 40px;
  }
}
