/**
* Nav styles
**/

nav {
  font-family: 'Yale Roman';
  color: #222;
  white-space: nowrap;
}

nav a {
  width: 100px;
  text-align: center;
  padding: 5px 5px;
  font-size: 11px;
  font-family: Arial;
  font-weight: 600;
  color: #555;
  border: 1px solid #aaa;
  border-right: none;
  background: #fff;
  position: relative;
}

nav a.active {
  background: #eee;
}

nav a:focus {
  z-index: 2;
}

nav a:last-of-type {
  border-right: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

nav a:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
