/**
* Container for all results
**/

.results-container {
  background: #f8f8f8;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 46px;
  left: 0;
  overflow: hidden;
}

/**
* Container for result pairs
**/

.result-pair.hide-authors .result-author {
  display: none;
}

.result-pair-container {
  width: 1100px;
  opacity: 1;
  transition: opacity 0.5s ease;
  overflow: auto;
}

.result-pair-container.fade-out {
  opacity: 0;
}

.no-results {
  display: block;
  margin-top: 30px;
}

/**
* Container for each match pair
**/

.result-pair {
  text-align: left;
  position: relative;
  /* to support card animations */
  overflow-x: hidden;
  margin: 14px 0;
}

/**
* Result pair animations
**/

.result-pair.animated .result.source {
  transform: translateX(-2000px);
}

.result-pair.animated .result.target {
  transform: translateX(2000px);
}

/**
* Similarity
**/

.similarity-circle {
  width: 60px;
  height: 100%;
}

.similarity {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 1s;
  background: #bfbfbf;
  color: #fff;
  text-align: center;
  font-size: 0.85em;
}

.result-pair:hover .similarity {
  background: #6dd1d1;
}

.similarity-circle.fade-out {
  opacity: 0;
}

/**
* Result cards
**/

.result {
  margin: 4px;
  box-shadow: 2px 2px 2px #ddd;
  border: 1px solid lightgray;
  background: #fff;
  position: relative;
  flex: 1;
  transition: transform 1s ease, height 0.3s ease;
  display: inline-block;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.result-pair:hover .result {
  outline: 3px solid #6dd1d1;
  border: 1px solid #6dd1d1;
}

/**
* Card animations
**/

.result.source {
  left: 0;
}

.result.target {
  right: 0;
}

.match-pair.animated .result.source {
  left: -2000px;
}

.match-pair.animated .result.target {
  right: -2000px;
}

/**
* Result header
**/

.result-top {
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  height: 32px;
  white-space: nowrap;
}

.result-title,
.result-year {
  display: inline-block;
  padding: 3px 12px;
}

.result-title {
  font-size: 0.9em;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2em;
  font-family: 'Open Sans';
  font-style: italic;
}

.result.waffle-chart-card {
  min-height: initial;
}

.waffle-chart-card .result-title {
  width: 100%;
}

.result.target .result-title {
  text-align: right;
}

/**
* Result years
**/

.result-year-container {
  display: inline-block;
  background: #71ccce;
  color: #fff;
  padding: 3px 15px 3px 6px;
  height: 100%;
}

.result.source .result-year-container {
  float: right;
  transform: skew(38deg);
  margin-right: -15px;
}

.result.target .result-year-container {
  float: left;
  transform: skew(-38deg);
  margin-left: -15px;
}

.result-year {
  font-size: 0.9em;
  font-weight: 600;
}

.result.source .result-year {
  transform: skew(-38deg);
}

.result.target .result-year {
  transform: skew(38deg);
  position: relative;
  left: 6px;
}

.result.hovered .result-year-container {
  background: #6dd1d1;
  color: #fff;
}

/**
* Result card text content
**/

.result-body {
  padding: 24px;
  flex: 1;
}

.result-author {
  font-size: 1.5em;
  font-family: 'Yale Roman';
  color: #333333;
  margin-bottom: 15px;
}

.result-match {
  font-size: 0.85em;
  line-height: 1.6em;
  font-weight: 600;
}

.result-match .prematch,
.result-match .postmatch {
  color: #bababa;
  font-weight: 400;
}

.result-match .match {
  color: #333;
}

/**
* Result footer
**/

.result-footer-container::before {
  content: '';
  position: absolute;
  top: -20px;
  height: 20px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  left: 0;
}

/* only needed to correct ff display bug */
.result-footer-container {
  position: relative;
  display: block;
  width: 100%;
  height: 28px;
}

.result-footer {
  display: table;
  width: 100%;
  text-align: center;
  background: #f8f8f8;
  padding: 5px;
  height: 28px;
  box-sizing: border-box;
}

.result-footer div,
.result-footer a {
  display: table-cell;
  font-size: 13px;
  color: #bababa;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  width: 25%;
}

.result .result-footer div:hover,
.result .result-footer a:hover {
  color: #333;
  /* to prevent font weight from changing widths */
  text-shadow: 0.01em 0 0 currentColor;
}

.result-footer img,
.result-footer svg {
  width: 10px;
  height: 10px;
  margin-right: 3px;
}

.result-footer-icon {
  fill: #bababa;
  transition: transform 1s;
}

/**
* Visualize icon
**/

.visualize rect {
  stroke: #f8f8f8;
  fill: #bababa;
}

/**
* Favorite icon
**/

.favorite.active {
  color: #e6583e;
}

@-webkit-keyframes swell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes swell {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.favorite.active .favorite-icon {
  fill: #e6583e;
  animation-name: swell;
  animation-duration: 0.7s;
}

/**
* Result during compare state
**/

.compare.active {
  color: #f1a21a;
}

.compare.active .compare-icon {
  fill: #f1a21a;
}

/**
* Hovered result
**/

.result {
  outline: 2px solid rgba(256, 256, 256, 0);
  min-height: 280px;
}

.result.hovered {
  outline: 2px solid #6dd1d1;
  border: 1px solid #6dd1d1;
}

/**
* Hovered footer icons
**/

.read:hover path {
  fill: #714c0b;
}

.compare:hover rect,
.compare:hover path {
  fill: #f1a21a;
}

.favorite:hover path {
  fill: #e6583e;
}

.visualize:hover rect {
  fill: #6dd1d1;
}

@media (max-width: 700px) {
  .similarity-circle {
    width: 10px;
  }

  .similarity {
    display: none;
  }

  .result {
    min-height: initial;
  }

  .result-title {
    font-size: 12px;
  }

  .result-body {
    padding: 10px;
  }

  .result-author {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .result-match {
    font-size: 10px;
    line-height: 14px;
  }

  .result-top {
    height: auto;
  }

  .result-title {
    width: auto;
    margin-top: 0;
  }

  .result-year-container {
    padding: 0px 12px 0px 3px;
  }
}
