#sankey-plot {
  margin: 30px 0;
}

#sankey-plot .links path {
  opacity: 0.2;
  cursor: pointer;
  filter: grayscale(1);
}

#sankey-plot .links path.active,
#sankey-plot .links path:hover {
  opacity: 0.9;
  filter: none;
}

#sankey-plot foreignObject body {
  font-size: 12px;
  font-weight: 600;
}

#sankey-plot foreignObject body.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sankey-plot foreignObject.earlier body {
  text-align: right;
}

#sankey-plot foreignObject.later body {
  text-align: left;
}
