/**
* SortBy styles
**/

.sort-results {
  background: url(../images/icons/down-caret-gray.png);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position-x: 94%;
  background-position-y: 59%;
  height: 26px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: transparent;
  display: inline-block;
  border: none;
  position: relative;
  padding: 2px 10px;
  width: 95px;
  -webkit-appearance: none;
  position: relative;
  outline: none;
  font-size: 0.8em;
  font-weight: 600;
  color: #666666;
}
