/**
* Typeahead styles
**/

.typeahead {
  margin: 0 10px;
  display: inline-block;
  position: relative;
}

.typeahead input {
  width: 360px;
  float: right;
  box-sizing: border-box;
  height: 36px;
  border-radius: 8px;
  border-left: none;
  background: #e6e5e5;
  padding-right: 41px;
  border: 1px solid #f8f8f8;
  color: #333333;
  padding-top: 0px;
  padding-bottom: 0px;
}

.typeahead input:focus {
  outline: 2px solid #6dd1d1;
  -webkit-box-shadow: 0px 0px 5px #6dd1d1;
  box-shadow: 0px 0px 5px #6dd1d1;
}

.typeahead-results {
  position: absolute;
  padding: 10px 20px;
  background: #fff;
  margin-top: 35px;
  border-radius: 3px;
  border: 1px solid #95989a;
  z-index: 1;
  display: none;
  text-align: left;
  font-size: 0.8em;
  max-height: 164px;
  overflow: auto;
  width: 100%;
}

input:focus + .typeahead-results {
  display: block;
}

.typeahead .typeahead-results.hidden {
  display: none;
}

.typeahead-result {
  display: block;
  padding: 3px 6px;
  color: #000;
  cursor: pointer;
  white-space: break-spaces;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.typeahead-result.active {
  background: #f1f1f1;
}

.typeahead-result.search-icon {
  padding-left: 20px;
  background-image: url(../images/icons/search-icon.png);
  background-repeat: no-repeat;
  background-position: 3px 4px;
  background-size: 15px;
  text-indent: 0;
}

.search-button {
  background-image: url(../images/icons/search-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.6;
}

/**
* Typeahead select
**/

.typeahead-select-container {
  background: url(../images/icons/down-caret-gray.png);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 83%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  left: -12px;
}

/* browser select reset */
.custom-select {
  padding: 6px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.typeahead-select-container select {
  width: 80px;
  height: 36px;
  font-size: 0.8em;
  font-weight: 600;
  color: #666666;
  border: 1px solid #f8f8f8;
}

.typeahead-select-label {
  font-size: 0.8em;
  margin-right: 6px;
}

@media (max-width: 700px) {
  .typeahead {
    margin: 0;
    display: block;
    width: 100%;
  }

  .typeahead input {
    width: 100%;
  }
}
